<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>新冠病毒疫情监测系统</title>
    <script src="js/foreignView.js"></script>
</head>

<body>

<!--国外疫情-->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title updateTime">截至北京时间：2020-03-26 08:15</h3>
    </div>
    <div class="panel-body">
        <div class="row" style="margin-left: 10%;">
            <div class="col-xs-3 col-md-3">
                <strong style="color: #F74C31; font-size: x-large;" id="currentConfirmedCountForeign">123123</strong>
                <br>
                <span>现存确诊</span>
            </div>
            <div class="col-xs-3 col-md-3">
                <strong style="color: #AE212C; font-size: x-large;" id="confirmedCountForeign">12312</strong>
                <br>
                <span>累计确诊</span>
            </div>
            <div class="col-xs-3 col-md-3">
                <strong style="color: #627092; font-size: x-large;" id="deadCountForeign">1231</strong>
                <br>
                <span>累计死亡</span>
            </div>
            <div class="col-xs-3 col-md-3">
                <strong style="color: #28B7A3; font-size: x-large;" id="curedCountForeign">123123</strong>
                <br>
                <span>累计治愈</span>
            </div>
        </div>
    </div>


</div>
    <!--重点国家疫情数据-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">重点国家疫情数据</h3>
        </div>

        <div class="panel-body" id="severe">
            <div class="col-xs-4 col-md-4">
                <h3 style="color: #AE212C;">累计确诊</h3>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped" id="table-ConfirmedCount">
                        <tr>
                            <th>地区</th>
                            <th>数据</th>
                            <th>排名</th>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="col-xs-4 col-md-4">
                <h3 style="color: #627092;">累计死亡</h3>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped" id="table-DeadCount">
                        <tr>
                            <th>地区</th>
                            <th>数据</th>
                            <th>排名</th>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="col-xs-4 col-md-4">
                <h3 style="color: #28B7A3;">累计治愈</h3>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped" id="table-CuredCount">
                        <tr>
                            <th>地区</th>
                            <th>数据</th>
                            <th>排名</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--全球趋势走势图-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">国外趋势走势图</h3>
        </div>
        <div class="panel-body" id="trendChartsForeign" style="width: 100%; height: 400px; position: relative">

        </div>
        <ul class="row nav nav-pills" role="tablist">
            <li role="presentation" class="active col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2
                            col-lg-2 col-md-2 col-xs-2" style="text-align: center;" onclick="switchForeignChart('confirmedCount')">
                <a role="tab" data-toggle="tab">
                    累计确诊</a>
            </li>
            <li role="presentation" class="col-lg-2 col-md-2 col-xs-2" style="text-align: center;" onclick="switchForeignChart('currentConfirmedCount')">
                <a role="tab" data-toggle="tab">
                    现存确诊</a>
            </li>
            <li role="presentation" class="col-lg-2 col-md-2 col-xs-2" style="text-align: center;" onclick="switchForeignChart('deadCount')">
                <a role="tab" data-toggle="tab">
                    累计死亡</a>
            </li>
            <li role="presentation" class="col-lg-2 col-md-2 col-xs-2" style="text-align: center;" onclick="switchForeignChart('curedCount')">
                <a role="tab" data-toggle="tab">
                    累计治愈</a>
            </li>

        </ul>
    </div>
</body>
</html>