<!--国外疫情-->
<div class="container-fluid">
    <div class="row" style="margin-left: 15%">
        <div class="col-xs-6 col-md-3">
            <strong style="color: rgb(247, 76, 49);">328,704</strong>
            <br>
            <span>现存确诊</span>
        </div>
        <div class="col-xs-6 col-md-3">
            <strong style="color: rgb(174, 33, 44);">328,704</strong>
            <br>
            <span>累计确诊</span>
        </div>
        <div class="col-xs-6 col-md-3">
            <strong style="color: rgb(93, 112, 146);;">328,704</strong>
            <br>
            <span>累计死亡</span>
        </div>
        <div class="col-xs-6 col-md-3">
            <strong style="color: rgb(40, 183, 163);">328,704</strong>
            <br>
            <span>累计治愈</span>
        </div>
    </div>
</div>