<script src="js/china.js"></script>
<script src="js/mainView.js"></script>

<body>
    <div class="container">

        <!-- 国内外疫情标签 -->
        <ul class="container row nav nav-tabs" role="tablist">
            <li role="presentation" class="active col-md-6 col-md-6 col-sm-6" style="text-align: center;"><a href="#china" aria-controls="China" role="tab" data-toggle="tab">国内疫情</a></li>
            <li role="presentation" class="col-md-6 col-md-6 col-sm-6" style="text-align: center;"><a href="#foreign" aria-controls="foreign" role="tab" data-toggle="tab">国外疫情</a></li>
        </ul>

        <!-- 国内外疫情标签面板 -->
        <div class="container tab-content" style="padding-top: 2em; padding-bottom: 1em;">
            <div role="tabpanel" class="tab-pane active" id="china">
                <!--国内疫情基础数据-->
                <div class="container" style="margin-bottom: 2em;">
                    <p id="updateTime">截至北京时间：2020-03-26 08:15</p>
                    <div class="row" style="margin-left: 15%; padding-bottom: 1em;">
                        <div class="col-xs-4 col-md-4">
                            <strong style="color: rgb(247, 76, 49); font-size: x-large;" id="currentConfirmedCount"></strong>
                            <br>
                            <span>现存确诊</span>
                        </div>
                        <div class="col-xs-4 col-md-4">
                            <strong style="color: rgb(93, 112, 146); font-size: x-large;" id="suspectedCount"></strong>
                            <br>
                            <span>境外输入</span>
                        </div>
                        <div class="col-xs-4 col-md-4">
                            <strong style="color: rgb(40, 183, 163); font-size: x-large;" id="seriousCount"></strong>
                            <br>
                            <span>现存无症状</span>
                        </div>
                    </div>
                    <div class="row" style="margin-left: 15%">
                        <div class="col-xs-4 col-md-4">
                            <strong style="color: rgb(247, 76, 49); font-size: x-large;" id="confirmedCount"></strong>
                            <br>
                            <span>累计确诊</span>
                        </div>
                        <div class="col-xs-4 col-md-4">
                            <strong style="color: rgb(93, 112, 146); font-size: x-large;" id="deadCount"></strong>
                            <br>
                            <span>累计死亡</span>
                        </div>
                        <div class="col-xs-4 col-md-4">
                            <strong style="color: rgb(40, 183, 163); font-size: x-large;" id="curedCount"></strong>
                            <br>
                            <span>累计治愈</span>
                        </div>
                    </div>
                </div>

            <!--国内疫情地图-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">国内疫情地图</h3>
                    </div>
                    <div class="panel-body" id="chinaMap" style="width: 600px;height:400px; left: 25%">

                    </div>
                    <ul class="container row nav nav-pills" role="tablist">
                        <li role="presentation" class="active col-lg-offset-1 col-md-offset-1 col-sm-offset-1
                        col-lg-5 col-md-5 col-sm-5" style="text-align: center;" onclick="switchMap('confirmed')">
                            <a aria-controls="China" role="tab" data-toggle="tab">累计确诊</a>
                        </li>
                        <li role="presentation" class="col-lg-5 col-md-5 col-sm-5" style="text-align: center;" onclick="switchMap('suspected')">
                            <a aria-controls="foreign" role="tab" data-toggle="tab">现存疑似</a>
                        </li>
                    </ul>
                </div>
<!--国内趋势走势图-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">国内疫情趋势图</h3>
                    </div>
                    <div class="panel-body" id="trendCharts" style="width: 900px;height:400px; left: 12%; position: relative">

                    </div>
                    <ul class="container row nav nav-pills" role="tablist">
                        <li role="presentation" class="active col-lg-offset-2 col-md-offset-2 col-sm-offset-2
                        col-lg-2 col-md-2 " style="text-align: center;" onclick="switchChart('confirmedCount')">
                            <a aria-controls="China" role="tab" data-toggle="tab">
                                累计确诊</a>
                        </li>
                        <li role="presentation" class="col-lg-2 col-md-2 " style="text-align: center;" onclick="switchChart('currentConfirmedCount')">
                            <a aria-controls="foreign" role="tab" data-toggle="tab">
                                现存确诊</a>
                        </li>
                        <li role="presentation" class="col-lg-2 col-md-2 " style="text-align: center;" onclick="switchChart('deadCount')">
                            <a aria-controls="foreign" role="tab" data-toggle="tab">
                                累计死亡</a>
                        </li>
                        <li role="presentation" class="col-lg-2 col-md-2 " style="text-align: center;" onclick="switchChart('curedCount')">
                            <a aria-controls="foreign" role="tab" data-toggle="tab">
                                累计治愈</a>
                        </li>

                    </ul>
                </div>
<!--国内各地区详细疫情-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">国内各地区详细疫情</h3>
                    </div>
                    <div class="panel-body">
                        国内各地区详细疫情
                    </div>
                </div>
            </div>

            <!--############################################################################################-->
            <!--############################################################################################-->
            <div role="tabpanel" class="tab-pane" id="foreign">
                <!--国外疫情-->
                <div class="container-fluid">
                    <div class="row" style="margin-left: 15%">
                        <div class="col-xs-6 col-md-3">
                            <strong style="color: rgb(247, 76, 49);">328,704</strong>
                            <br>
                            <span>现存确诊</span>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <strong style="color: rgb(174, 33, 44);">328,704</strong>
                            <br>
                            <span>累计确诊</span>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <strong style="color: rgb(93, 112, 146);;">328,704</strong>
                            <br>
                            <span>累计死亡</span>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <strong style="color: rgb(40, 183, 163);">328,704</strong>
                            <br>
                            <span>累计治愈</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

